<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="{% url 'jobs:home' %}">JobPortal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="{% url 'jobs:home' %}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
            {% if not user.is_authenticated %}
        <li class="nav-item cta mr-md-2"><a href="{% url 'users:register' %}" class="nav-link">Register</a></li>
        <li class="nav-item cta cta-colored"><a href="{% url 'users:login' %}" class="nav-link">Login</a></li>
            {% endif %}
            {% if user.is_authenticated and user.is_employee %}
            <div class="btn-group">
              <button type="button" class="btn btn-success dropdown-toggle" style="height:50px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      {{ user.first_name }}
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">My Jobs</a>
                <a class="dropdown-item" href="{% url 'users:employee_messages' pk=user.pk %}">You Have {{ user.count_unread_messages }} message(s)</a>
                <a class="dropdown-item" href="{% url 'users:my_wish_list' pk=user.id %}">My Wish List</a>
                <a class="dropdown-item" href="{% url 'users:update_profile' pk=user.get_profile_id %}">Update Profile</a>
                <a class="dropdown-item" href="{% url 'users:password_change' %}">Change Password</a>
                <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
              </div>
            </div>
            {% endif %}
            {% if user.is_authenticated and user.is_employer %}
            <div class="btn-group">
              <button type="button" class="btn btn-success dropdown-toggle" style="height:50px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ user.first_name }}
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'jobs:create_job' %}">Add Job</a>
                <a class="dropdown-item" href="{% url 'users:employer_jobs' %}">My Jobs</a>
                {% if user.get_profile_id %}
                  <a class="dropdown-item" href="{% url 'users:update_profile' pk=user.get_profile_id %}">Update Profile</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'users:password_change' %}">Change Password</a>
                <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
              </div>
            </div>
            {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->
